.container-1{
    

       
      
        clip-path: polygon(0 0, 75% 0%, 100% 50%, 100% 100%, 25% 100%, 0% 50%);
       
        z-index: -1;
       
        /* background-image: url(../Utils/About_Page_Pic.jpg);
        background-blend-mode:lighten; */
        
      display:flex;
      
      justify-content: center;
       
        height: 500px;
   width: 888px;
        
       
}

.container-2{
    color:black;
    width: 800px;
    font-size: 20px;
    height :auto;
   display:flex;
   justify-content: center
}

.container-3{
    font-size: 30px;
    text-align:justify;
  width:888px;
    /* background:rgb(39, 39, 39); */

   
    display:flex;
}

.about-page-pic{
  
   
   height: 500px;
   width: 888px;
   display:flex;
}