


body {
    background-size: cover;
    
    
    background-color:rgb(39, 39, 39);
    
}
  

 .app-container{
   color:white;
  
}
.nav-container-1{
  position: fixed;
  width: 100%;
  z-index: 1;
}

.switch-container{
  padding-top: 50px;
  width:100%;
  } 
  
  


