
  body{
    background-color:rgb(39, 39, 39);
  }

 

 .app-container{color:white;
  width:100%;
  
flex-direction: column;
max-width: unset;



}
.nav-container-1{
  display: flex;

  position: fixed;
  width: 100%;
  background-color: #333;
  z-index: 1;
}

.switch-container{
  display: flex;
  padding-top: 52px;
  width:100%;
 
 
  } 
  
  


