.flex-container-1{
  display:flex;
  flex-direction: column;
  margin:auto;
  
}
.flex-container-2{
  display: flex;
  
  flex-direction: column;
  justify-content: center;
  

}
h1{color:white;}
img.profile-pic {
   
  margin:auto;
    border:5px solid black;
   height: 275px;
   width: 270px;
  }

  .homePageParagraph{
   margin:auto;
    text-align: center
  }


  