.background{

  height :100%;
  width:100%;
  background-color: rgb(76, 175, 80);
  clip-path: polygon(25% 0%, 100% 0, 100% 50%, 75% 100%, 0 100%, 0% 50%);
  position:absolute;
  z-index: -1;
  background-image: url(../Utils/home_Page_Pic.jpg);
  background-blend-mode:lighten;
  background-size:cover;
  overflow: hidden
}


  .list-container{
    
    font-size: 25px;
    color: black;
    justify-content:center;
    border:5px solid white;
  background-color: rgba(118, 207, 248, 0.609)
  }

  .title{
    display:flex;
    justify-content:center;
    color: black;
    

  }

  .right-column{
  display:flex;
  flex-direction: column;
    justify-content:center;
    
    padding:100px;
  }
  

 
    
  


 


  